
{include file="public/header"/}
<style>
    .alldisplay td{ text-align: center;}
    .search-div{
        border: 1px solid #fafafa;height:50px;background-color: #fff;position: absolute;
        width: 55%;min-height: 100px;left: 22%;top:30px; text-align: center;z-index: 9999;display: none;
        #layui-breadcrumb a{ color: #FFFFFF;}
    }
</style>
<body>
    <div class="x-nav">
            <span>
                <a href="javascript:history.back(-1)" style="background: #009688;padding: 5px 10px;color: #fff;"><i class="icon iconfont">&#xe697</i>返回</a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
    <form class="layui-form layui-col-space5">
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">

                <div class="layui-col-md12 layui-form-item">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">基础信息
                            </blockquote>
                            <div class="layui-inline" style="width: 40%;margin-bottom: 15px;display: none;">
                                <label class="layui-form-label">订单编号</label>
                                <div class="layui-input-inline" style="width:55%">
                                    <input type="text" name="price_min" class="layui-input" readonly="true" placeholder="保存订单后自动生成">
                                </div>

                            </div>
                            <div class="layui-inline" style="width: 40%;margin-bottom: 15px;display: none;">
                                <label class="layui-form-label">要求交货时间</label>
                                <div class="layui-input-inline" style="width:55%">
                                    <input type="text" name="end_time" id="end_date"  required  lay-verify="required" autocomplete="off" class="layui-input" value="{$etime}">
                                </div>
                            </div>
                            <div class="layui-inline" style="width: 40%">
                                <label class="layui-form-label">送货地址</label>
                                <div class="layui-input-inline" style="width:55%">
                                    <input type="text" name="send_address" id="send_address" required lay-verify="required"  class="layui-input" value="{$dealer.address}">
                                </div>
                            </div>
                            <div class="layui-inline" style="width: 100%;margin-bottom: 15px;display: none;">
                                <label class="layui-form-label" >生产完成时间</label>
                                <div class="layui-input-inline" style="width:22%">
                                     <input type="text" name="make_time" id="make_date" class="layui-input" readonly="true" value="{$product_time}"> 
                                </div>
                            </div>
                            <div class="layui-inline" style="width: 40%;margin-bottom: 15px;display: none;">
                                <label class="layui-form-label">经销商名称</label>
                                <div class="layui-input-inline" style="width: 55%">
                                    <input type="text" name="dealer" id="dealer" required  lay-verify="required"  class="layui-input" autocomplete="off" value="{$dealer.name}">
                                </div>
                                <div class="search-div" id="search-name"></div>
                            </div>
                            <div class="layui-inline" style="width: 40%;margin-bottom: 15px;display: none;">
                                <label class="layui-form-label">电话</label>
                                <div class="layui-input-inline" style="width: 55%">
                                    <input type="text" name="phone" id="phone" required  lay-verify="required"  class="layui-input" autocomplete="off" value="{$dealer.contact}">
                                </div>
                                <div class="search-div" id="search-phone"></div>
                            </div>
                            </div>
                            <div class="layui-inline" style="width: 40%;display: none;">
                                <label class="layui-form-label">地址</label>
                                <div class="layui-input-inline" style="width:55%">
                                    <input type="text" name="address" id="address" required  lay-verify="required" class="layui-input" value="{$dealer.address}">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">订单类型</label>
                                <div class="layui-input-block" style="width: 50%">
                                    <input type="radio" name="type" value="1" title="常规" checked>
                                    <input type="radio" name="type" value="2" title="加急" >
                                    <input type="radio" name="type" value="3" title="样板" >
                                    <input type="radio" name="type" value="4" title="返修单" >
                                    <input type="radio" name="type" value="5" title="单剪网" >
                                    <input type="radio" name="type" value="6" title="单切料" >
                                    <input type="radio" name="type" value="7" title="工程" >
																		<input type="radio" name="type" value="8" title="重做" >
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-block" style="width: 63%;"> 
                                    <input type="text" name="note"  class="layui-input">
                                </div>
                            </div>
                            <table class="layui-table">
                                <tbody class='alldisplay'>
                                    <tr>
                                        <td>总金额:<span style='color: red'>0</span></td>

                                        <td>总面积:<span style='color: red'>0</span></td>

                                        <td>总数量:<span style='color: red'>0</span></td>

                                    </tr>
                                </tbody>
                            </table>
                            <div class="layui-form-item" style="padding-bottom: 20px;">
                                <input name="dealer_id" id="dealer_id" type="hidden" value="{$dealer.id}"/>
                                <button class="layui-btn" lay-filter="addbasic" lay-submit="" style="margin:10px 0 0 15%">
                                   <i class="layui-icon"></i>保存当前订单
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
    <div class="x-nav">
            <span>
                <a href="javascript:history.back(-1)" style="background: #009688;padding: 5px 10px;color: #fff;"><i class="icon iconfont">&#xe697</i>返回</a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
</body>
<script>
    layui.use(['laydate', 'form'],
            function () {
                $ = layui.jquery;
                var form = layui.form;
                var laydate = layui.laydate;

                //执行一个laydate实例
                laydate.render({
                    elem: '#end_date', //指定元素
                    done:function(value, date, endDate){
                        $.ajax({
                            url:"{:url('refreshTime2')}",
                            data: {date:value},
                            type: 'POST',
                            dataType: 'json',
                            success:function(res){
                                $('#make_date').val(res.data);
                            }
                        })
                    }
                });
                
                //监听提交表单
                form.on('submit(addbasic)',
                        function (data) {                            
                            ajaxform("{:url('add')}", data.field);
                            return false;
                        });
                        
                $(function(){
                    

                })

            });
            
            
</script>

</html>