
{include file="public/header"/}
<style>
    .count{color:red;float: right}
</style>
    <body class="index">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <a href="javascript:void(0)">深圳恒辉</a></div>
            <div class="left_open">
                <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
            </div>
<!--            <ul class="layui-nav left fast-add" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;">+新增</a>
                    <dl class="layui-nav-child">
                         二级菜单 
                        <dd>
                            <a onclick="xadmin.open('最大化','http://www.baidu.com','','',true)">
                                <i class="iconfont">&#xe6a2;</i>弹出最大化</a></dd>
                        <dd>
                            <a onclick="xadmin.open('弹出自动宽高','http://www.baidu.com')">
                                <i class="iconfont">&#xe6a8;</i>弹出自动宽高</a></dd>
                        <dd>
                            <a onclick="xadmin.open('弹出指定宽高','http://www.baidu.com',500,300)">
                                <i class="iconfont">&#xe6a8;</i>弹出指定宽高</a></dd>
                        <dd>
                            <a onclick="xadmin.add_tab('在tab打开','member-list.html')">
                                <i class="iconfont">&#xe6b8;</i>在tab打开</a></dd>
                        <dd>
                            <a onclick="xadmin.add_tab('在tab打开刷新','member-del.html',true)">
                                <i class="iconfont">&#xe6b8;</i>在tab打开刷新</a></dd>
                    </dl>
                </li>
            </ul>-->
            <ul class="layui-nav right" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;">{php}echo cookie('login_name');{/php}</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
<!--                        <dd>
                            <a onclick="xadmin.open('个人信息','http://www.baidu.com')">个人信息</a></dd>-->
                        <dd>
                            <a onclick="xadmin.open('修改密码', '{:url('editUser',array('id'=>cookie("uid")))}', 470, 240)" href="javascript:void(0)">修改密码</a>
                        </dd>
                        <dd>
                            <a href="{:url('index/switchUser')}">退出</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item to-index">
                    <a href="/">前台首页</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">操作说明</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd><a href='http://www.microd.cn/微窗花操作说明.zip'>下载文档</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    {volist name='list' id='v'}
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="{$v.title}">{$v.icon}</i>
                            <cite>{$v.title}</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            {volist name="$v['children']" id='v2'}
                            <li>
                                <a onclick="xadmin.add_tab('{$v2.title}','{:url($v2.name)}',true)">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>{$v2.title}</cite>
                                    <?php 
                                        $named = strtolower($v2['name']);
                                        if(in_array($named,$tip_url)){
                                            echo "<cite class='count' id=".$tip[$named]['id'].">".$tip[$named]['value']."</cite>";
                                        }
                                    
                                    ?>
                                   
                                </a>
                            </li>
                            {/volist}
                        </ul>
                    </li>
                   {/volist}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
                <ul class="layui-tab-title">
                    <li class="home">
                        <i class="layui-icon">&#xe68e;</i>我的桌面</li></ul>
                <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                    <dl>
                        <dd data-type="this">关闭当前</dd>
                        <dd data-type="other">关闭其它</dd>
                        <dd data-type="all">关闭全部</dd></dl>
                </div>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        {if condition="$group_id eq 1 || $group_id eq 3"}
                        <iframe src="{:url('welcome')}" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                        {else/}
                        <div class="layui-card-body " style="padding-bottom: 0px;">
                            <blockquote class="layui-elem-quote" style="margin: 0px;background: #c3c3c3;font-size: 14px; color: #000;">恒辉窗花下单系统</blockquote>
                        </div>
                        {/if}
                    </div>
                </div>
                <div id="tab_show"></div>
            </div>
        </div>
        <div class="page-content-bg"></div>
        <style id="theme_style"></style>
        <!-- 右侧主体结束 -->
        <!-- 中部结束 -->
      
    </body>
	<script>
	//调用C# CefAsyncJS 对象的PrintPage方法
	function PrintPage() {
		cefAsyncJS.PrintPage();
	};
	//被C#调用
	function csharpcall(){
		
	}
	</script>
</html>