<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>微元生产工序报工管理系统,建材行业生产管理系统,门窗生产管理系统,微元科技,佛山市微元科技有限公司</title>
<script src="__STATIC__/theme/index/js/jquery-1.10.2.js"></script>
<link href="__STATIC__/theme/index/css/index.css" rel="stylesheet" />
<link href="__STATIC__/theme/index/css/order.css" rel="stylesheet" />
<link href="__STATIC__/theme/index/css/bootstrap.css" rel="stylesheet">
<link href="__STATIC__/theme/index/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/theme/index/css/daterangepicker-bs3.css"/>
<script type="text/javascript" src="__STATIC__/theme/index/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/theme/index/js/moment.js"></script>
<script type="text/javascript" src="__STATIC__/theme/index/js/daterangepicker.js"></script>
<script src="__STATIC__index/js/layer/layer.js"></script>
</head>

<body>
<div class="list_d">
<table id="t_title" class="t_title"  style="table-layout:fixed;word-break:break-all;">
<tr>
{volist name="fieldList" id="vo"}
<td>{$vo['explains']}</td>
{/volist}
</tr>
</table>
</div>

<table class="list" style="table-layout:fixed;word-break:break-all;">
{volist name="list" id="or"}
<tr>
{foreach $or as $key=>$res}
<td style="{$key==0? 'color:red':''; }">{php} echo $res['value']!=''?$res['value']:'&nbsp;';{/php}
</td>
{/foreach}
</tr>
{/volist}
</table>

<div class="pages">
	{$page|raw}
</div>

</body>
</html>
