{include file="public/header"/}
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="username" class="layui-form-label">
                            物料编号
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="code" name="code" required="" lay-verify="required" class="layui-input" value="{$res.code}">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>不可重复，不能为空
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="username" class="layui-form-label">
                            物料名称
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="name" name="name" required="" lay-verify="required" class="layui-input" value="{$res.name}">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>不能为空
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="phone" class="layui-form-label">
                            大面尺寸
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="big" name="big" required="" lay-verify="required" class="layui-input" value="{$res.big}">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>单位mm
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="username" class="layui-form-label">
                            小面尺寸
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="small" name="small" required="" lay-verify="required" class="layui-input" value="{$res.small}">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>单位mm
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="username" class="layui-form-label">
                            单位
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="unit" name="unit"  class="layui-input" value="{$res.unit}">
                        </div>
                        
                    </div>
                    <div class="layui-form-item">
                        <label for="username" class="layui-form-label">
                            价格
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="price" name="price"  class="layui-input" value="{$res.price}">
                        </div>
                        
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <input name='id' type='hidden' value='{$id}'/>
                        <button class="layui-btn" lay-filter="add" lay-submit="">增加</button>
                    </div>
        </form>
        </div>
        </div>
        <script>layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
                
                //监听提交
                form.on('submit(add)',
                function(data) {
                    ajaxform("{:url('bom/aluminumAdd')}",data.field);
                    return false;
                });
                
            });</script>

    </body>

</html>