{include file="public/header"/}
    
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
               <a href="javascript:void(0)">未处理订单</a>
            </span> 
            
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            
                        </div>
                        <div class="layui-card-header">
                            <form class="layui-form layui-col-space5" action="" id='form1'>
                                
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input type="text" name="keyword" placeholder="请输入名称/编号" autocomplete="off" class="layui-input" value='{$keyword}'>
                                </div>
								<div class="layui-input-inline layui-show-xs-block">
								    <input type="text" id='start_time' name="start_time" placeholder="下车间时间 - 开始时间" autocomplete="off" class="layui-input" value='{$start_search}'>
								</div>
								<div class="layui-input-inline layui-show-xs-block">
								    <input type="text" id='end_time' name="end_time" placeholder="下车间时间 - 结束时间" autocomplete="off" class="layui-input" value='{$end_search}'>
								</div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                        <i class="layui-icon">&#xe615;</i>
                                    </button>
                                </div>
								<div class="layui-input-inline layui-show-xs-block">
								    <button class="layui-btn layui-btn-normal" type='button' id='export_price2'>
								        导出数据
								    </button>
								</div>
                                <div class="layui-input-inline" style="float: right">
                                </div>
                            </form>
                        </div>
                        <blockquote class="layui-elem-quote" style="margin: 0 1%;padding: 8px;">
						    统计:&nbsp;&nbsp;&nbsp;&nbsp;订单数量:{$statistics.count} &nbsp;&nbsp;&nbsp;&nbsp;面积:{$statistics.area}
						</blockquote>
                        <div class="layui-card-body ">
                            <table class="layui-table layui-form">
                                <thead>
                                    <tr>                                       
                                        <th>订单编号</th>
                                        <th>经销商</th>
                                        <th>下单时间</th>
                                        <th>数量</th>
                                        <th>面积</th>
                                        <th>下车间时间</th>
                                        <th>要求交货时间</th>                                       
                                        <th>操作</th></tr>
                                </thead>
                                <tbody>
                                    {volist name="list" id="v"}
                                    <tr>
                                        <td>{$v.number}</td>
                                        <td>{$v.dealer}</td>
                                        <td>{$v.addtime|date='Y/m/d',###}</td>
                                        <td>{$v.count}</td>
                                        <td>{$v.area}</td>
                                        <td>{if condition="$v['car_time'] eq 0"}暂无{else/}{$v.car_time|date='Y/m/d',###}{/if}</td>
                                        <td>{$v.end_time}</td>
                                        <td class="td-manage">
                                            <a title="查看" href="{:url('readOrder',array('id'=>$v['id']))}?{$getstr}">
                                                <i class="layui-icon">&#xe63c;</i></a>
                                            </a>
                                            <a title="返回营运" href="javascript:void(0)" onclick="back({$v.id})">
                                                <i class=" layui-icon">&#xe633;</i></a>
                                            </a>
                                        </td>
                                    </tr>
                                     {/volist}
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">
                            <div class="page">
                                    {$page}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><iframe name="imgiframe" width="0" height="0"></iframe>
    </body>
	<script src="__STATIC__/js/jquery.min.js" type="text/javascript"></script>
	<script src="__STATIC__/js/xcity.js" type="text/javascript"></script>
    <script>layui.use(['laydate', 'form','table','code'],
        function() {
            // var laydate = layui.laydate;
            // var  form = layui.form;
            // $ = layui.jquery;
			
			$ = layui.jquery;
			var laydate = layui.laydate;
			form = layui.form;
			var table = layui.table;
			layui.code();
             //设置左侧菜单栏的提示数量
            $(function(){
                 $.post("{:url('order/financeNoHandle')}",{id:1},function(obj){                         
                    $('#finance-no-handle',parent.document).text(obj.data);                      
                 },'json');
                 
                 $.post("{:url('carorder/noHandleCount')}",{id:1},function(obj){                         
                    $('#no-handle-count',parent.document).text(obj.data);                      
                 },'json');
				 
				 $('#export_price2').click(function(){
				     var start = $('#start_time').val();
				     var end = $('#end_time').val();
				     var keword = $('#keyword').val();
				 										 var keword = $('#dealer_id').val();
				     var sales_name = $('#sales_name').val();
				     var province = $('#province option:selected').val();
				     var city = $('#city option:selected').val();
				     var area = $('#city option:selected').val();
					 if(start=='' || end==''){
						 layer.msg('开始时间与结束时间不可为空',{icon:2});
						 return;
					 }
				     $('#form1').attr('action',"{:url('exportPrice')}")
				     $('#form1').submit();
				     $('#form1').attr('action',"")
				 })
				 
				 //执行一个laydate实例
				 laydate.render({
				     elem: '#start_time' //指定元素
				 });
				 
				 //执行一个laydate实例
				 laydate.render({
				     elem: '#end_time' //指定元素
				 });
            })

        });
        
 function back(id){
            layer.confirm('确认要返回营运吗？',
            function(index) {
                ajaxform("{:url('finance/back')}",{id:id},1);
            });
       }   
    
        
    </script>

</html>