{include file="public/header"/}
<link rel="stylesheet" href="__STATIC__/css/select.css">
<div class="layui-fluid">
	<div class="layui-row">
		<form class="layui-form">
			<div class="layui-form-item">
				<label for="name" class="layui-form-label">
					字典名称
				</label>
				<div class="layui-input-block">
					<input type="text" id="name" name="name" value="{$model.name}" required="" lay-verify="required" class="layui-input" >
				</div>
			</div>		
			<div class="layui-form-item">
				<label for="L_repass" class="layui-form-label"></label>
				<input name="id" type="hidden" value="{$model.id}"/>
				<button class="layui-btn" lay-filter="save" lay-submit="">保存</button>
			</div>
		</form>
	</div>
</div>
<script>
layui.config({
	base: "/static/js/",
}).extend({
	select: "select",
}).use(['form','select'],function() {
	$ = layui.jquery;
	form = layui.form,select = layui.select;
	form.on('submit(save)',function(data) {
		ajaxform("{:url('edit')}",data.field);
		return false;
	});  
});
</script>
</body>
</html>