{volist name="orderl" id="or"}
	<table class="layui-table order-table urgent-table" border="1" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				{php}
				foreach($fieldList as $field=>$name){
				{/php}
				<td style="width: 113px;">{php} echo $or[$field]!=''?$or[$field]:'&nbsp;';{/php}
				</td>
				{php}
				}
				{/php}
				<td style="width: 113px;" class="operate-box">
					<div class="operate-btn">
						{if condition="$or.isurgent eq '1'"}
						<span class="btn-normal" id="urgent{$or.id}" onclick="isurgent({$or.id},0);">取消加急</span>
						{else/}
						<span class="btn-normal" id="urgent{$or.id}" onclick="isurgent({$or.id},1);">点击加急</span>
						{/if}
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="process-box">
		<div class="process-box-inner">
			{volist name="$or.dname" id="li"}
				{foreach $li as $ke=>$a}

				<?php 
					$gpstatus='inx_3';
					foreach ($a as $b){
						if($b['inouts']!=2){ 
							if($b['endtime']!==0){	
								$gpstatus='inx_1';
							}else if($b['endtime']== 0&&$b['starttime']!==0&&$b['state']==1){
								$gpstatus='inx_2';
								break;
							}else if($b['endtime']== 0&&$b['starttime']!==0&&$b['state']==2){
								$gpstatus='inx_2';
								break;
							}else if($b['isbad']== 1){	
								$gpstatus='inx_2';
								break;
							}else if ($b['isover']==1){ 				
								$gpstatus='inx_2';
								break;
							}
						}else{
							if ($b['outstatus']==2)
							{
								$gpstatus='inx_2';
								break;
							}else if($b['outstatus']==1){
								$gpstatus='inx_1';
							}
						} 
					}
				?>
				<ul>
					{foreach $a as $b}
						{php} 
								$dname=htmlspecialchars_decode($b['dname']);	
								$dtime='';
								if($b['starttime']>0){
									$dtime=date('Y-m-d',$b['starttime']);
								}
								if (($b['state']==1&&$b['endtime']>0)||($b['starttime'] >0&&$b['endtime']>0)){
									$dtime.="  -  ";
								}
								if($b['endtime']>0){
									$dtime.=date('Y-m-d',$b['endtime']);
								}
						{/php}

						{php} if($b['inouts']!=2){ {/php}
							{php}
									$status='';
									$move_class='';
									
									$b_data=$b['gxid'];
									$b_data_id=$b['orderid'];
									$b_data_inout=$b['inouts'];
									$b_data_content=$b['text'];
									$b_data_name=$b['name'];
									
									if($b['starttime']== 0&& $b['endtime']==0){
										$status.='未开始';
										$classname="li-unstart";
										$move_class='no3';
									}
									if($b['endtime']== 0&&$b['starttime']>0&&$b['state']==1){
										$status.='进行中';
										$classname="li-ongoing";
										$move_class='no2';
									}
									if($b['endtime']>0){
										$status.='完成';
										$classname="li-finish";
									}
									
									if($b['isbad']== 1){
										$status.='|异常';
										$classname="li-error";
										$move_class='diff';
										$b_data_id=$b['fid'];
									}
									if ($b['isover']==1)
									{ 
										$status.='|超时';
										$classname="li-overtime";
									}
							{/php}
							<li class="{$classname}" data-id="{$b_data_id}" data-inout={$b_data_inout} data-content="{$b_data_content}" data-name="{$b_data_name}">{$dname}({$status}) {if $dtime!=''} &nbsp;| &nbsp;{$dtime}{/if}</li>
						{php} }else{ {/php}
							<li class="{$classname}">{$dname}({$status}) {if $dtime!=''}| &nbsp;{$dtime}{/if}</li>

						{php} } {/php}
					{/foreach}
				</ul>
				{/foreach}
			{/volist}
		</div>
	</div>
	{/volist}