<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>微元生产工序报工管理系统,建材行业生产管理系统,门窗生产管理系统,微元科技,佛山市微元科技有限公司</title>
<link rel="stylesheet" href="__STATIC__index/css/font.css">
<link rel="stylesheet" href="__STATIC__index/css/xadmin.css">
    
<!--<link href="__STATIC__/theme/index/css/index.css" rel="stylesheet" />-->
<script src="__STATIC__/theme/index/js/jquery-1.10.2.js"></script>
<script src="__STATIC__index/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="__STATIC__index/js/xadmin.js"></script> 
<script type="text/javascript" src="__STATIC__index/js/erp.js"></script>   
</head>
