{include file="public/header"/}
<style>
    .tips{ position: absolute;left: 40%;bottom: 150px;display: none;font-size: 19px;}
    .tips span { line-height: 30px;}
    /*.bottom-fixed{display:none;}*/
</style>  
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <blockquote class="layui-elem-quote">报价信息</blockquote> 
                    {include file="order/common_edit_price"/}
                    <div id="calculate-box" style="{if condition="$info['order_type'] eq 2"}display:none;{/if}">
                    <blockquote class="layui-elem-quote">算料信息</blockquote> 
                    {include file="order/common_edit_calculate"}
                    
                    <div class="layui-form-item" id="structure-box">
                        <label for="username" class="layui-form-label">
                            <span class="x-red">*</span>选择结构</label>
                        <div class="layui-input-inline">
                            <button class="layui-btn" type="button" onclick="show_structure()">选择</button>
                        </div>
                        <img src="/upload/{$info.structure}" height="100" id="structure_pic"/>
                        <input name="structure" id="structure" type="hidden" value="{$info.structure}"/>
                         <input name="structure_id" id="structure_id" type="hidden" value="{$info.structure_id}"/>
                        <span id="structure_id_box" style="{if condition="$info['structure_id'] eq ''"}display: none{/if}">结构id:{$info.structure_id}</span>
                    </div>
                    <div id="fixed-box">
                        {volist name="$array['fixed_height']" id='v'}
                        <div class="layui-form-item">
                            <label for="username" class="layui-form-label">
                                <span class="x-red">*</span>{$v.name}
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="username" name="fixed[]" class="layui-input sfixed" value="{$v.fixed}" lay-verify="fixed">
                            </div>
                            <input name='fixed_name[]' type='hidden' value='{$v.name}'/>
                            <div class="layui-form-mid layui-word-aux">
                                 单位mm
                            </div>
                        </div>
                        {/volist}
                    </div>
                    
                    
                       
                    
                    <!--<div class="tips" style="{if condition="$product['min'] neq null"}display:block{/if}">
                        <span class="x-red"><span id="c-min">{$product.min}</span>≤<span class="fixed-name">{$product.tips_name}</span>≤<span id="c-max">{$product.max}</span></span></br>
                        
                    </div>-->
                    </div>
                    <div class="layui-form-item">
                        <input name="window_type" id="window_type" type="hidden"/>
                        <input name="order_id" type="hidden" value="{$info.order_id}"/>
                        <input name="op_id" type="hidden" value="{$opid}"/>
                        <input name="og_id" type="hidden" value="{$info.og_id}"/>
                        <input name="order_type" type="hidden" value="{$info.order_type}"/>
                        <label for="L_repass" class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="add" lay-submit="">保存</button>
                        {if condition="$info['order_type'] eq 3"}
                        <button class="layui-btn layui-btn-normal" type="button" id="read-pic" onclick="show_pic()">
                            查看渲染图
                        </button>
                        {/if}
                    </div>
                    
            </form>
            </div>
            </div>
        {include file='order/common_js'}
        <script>layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
               
                
                //监听表单提交
                form.on('submit(add)',
                function(data) {
                    var field = data.field;
                    var yarn_text = $('#yarn').find('option:selected').text(); //纱网text
                    var hands_text = $('#hands-box').find('option:selected').text(); //把手位text
                    field.hands_text = hands_text;
                    field.yarn_text = yarn_text;
                    field.name = $('#two option:selected').text();
                    field.tips_min = $('#c-min').text();
                    field.tips_max = $('#c-max').text();
                    field.tips_fixed = $('.fixed-name').text();
                    
                     var temp = 0;
                    var cmin = $('#c-min').text(); //上下固定最小值
                    var cmax = $('#c-max').text(); //上下固定最大值
                    var fixed = $('.fixed-name').text();//固定名称
                    $('.sfixed').each(function(){
                        temp += Number($(this).val());
                    })
//                  if(temp>cmax || temp<cmin){
//                      var tips = '固定高值范围:'+cmin+'≤'+fixed+'≤'+cmax+';';
//                      layer.msg(tips,{icon:2})
////                        layer.confirm(tips,function(){
////                            ajaxform("{:url('addProduct')}",field);
////                            return false;
////                        })
//                      return false;
//                  }
                    ajaxform("{:url('editGroupProduct')}",field);
                    return false;
                });
                
            });
            
            
        </script>

    </body>

</html>