<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">
			<li><a href="{:url('index')}"><span class="glyphicon glyphicon-dashboard"></span> 站点列表</a></li>
			<li><a href="{:url('commend')}"><span class="glyphicon glyphicon-dashboard"></span> SQL指令</a></li>
			<li><a href="{:url('copyfile')}"><span class="glyphicon glyphicon-dashboard"></span> 文件复制</a></li>
			<!-- 
			<li class="parent ">
				<a href="#">
					<span class="glyphicon glyphicon-list"></span> 下拉 <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> 子下拉
						</a>
					</li>
				</ul>
			</li>
			 -->
			<li role="presentation" class="divider"></li>
		</ul>
		<div class="attribution"> <a href="#">佛山市微元科技有限公司</a></div>
</div>