<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Strict//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<title>设置</title>
{include file="public/header" /}

</head>
<body class="user_edit_modal">
	<div class="modal-body">
		<form action="{:url('import_custom')}" enctype="multipart/form-data" id="form" method="post" class="modal-body-middle">
			<ul class="add-user-box">
				<li>
					<div class="li-left">新密码：</div>
					<input type="password" name="pwd" id="pwd" placeholder="设置登录密码" class="li-right">
				</li>
				<li>
					<div class="li-left">确认密码：</div>
					<input type="password" name="repwd" id="repwd" placeholder="确认登录密码" class="li-right">
				</li>
				<li>
					<div class="li-left">用户角色：</div>
					<div class="li-right">
						<div class="imitate-select">
							<span class="select-txt">管理员</span>
							<span class="triangle-down"></span>
							<input type="hidden" name="user_role" id="user_role">
							<ul data-sign="user_role">
								{volist name="roles" id="vo"}
								<li {if condition="$key eq $msg['user_role']"}data-selected="true"{/if} data-value="{$key}">{$vo}</li>
								{/volist}
							</ul>
						</div>
					</div>
				</li>
				<li class="menu" id="bind" style="display:{if condition="($msg.user_role eq 3) or ($msg.user_role eq 5)"}flex{else/}none{/if};">
					<div>
						<input name="file" type="file" value="导入客户" />
						<a href="/static/custom.xls" style="color: #ff0000; font-size: 12px;"> | 下载导入模板</a>
					</div>
					<div>
						<button type="submit" class="layui-btn layui-btn-sm">点击提交，客户名单！</button>
						<input name='id' type='hidden' value='{$msg.id}'/>
					</div>
					<div>
						<a href="javascript:void(0)" id="bind_custom" style="">手动绑定客户</a> | 
						<a href="javascript:void(0)" id="read_custom" style="">查看绑定客户</a>
					</div>
					
				</li>
				<li id="client_namediv"  {if condition="$msg['user_role'] neq 4"}style="display:none;"{/if}>
					<div  class="li-left">客户名称：</div>
					<div class="li-right">
						<input type="text" name="client_name" id="client_name"
					autocomplete="off" value="{$msg['client_name']}" placeholder="请输入客户名称" />
					</div>
				</li>
				<li>
					<div  class="li-left">所属权限：</div>
					<div class="li-right">
						<div class="imitate-select">
							<span class="select-txt"></span>
							<span class="triangle-down"></span>
							<input type="hidden" id="role">
							<ul data-sign="role">
								{volist name="role_l" id="rl"}
								<li name="rl" {if condition="$rl['id'] eq $msg['role']"} data-selected="true"{/if} data-value="{$rl.id}">{$rl.title}</li>
								{/volist}
							</ul>
						</div>
					</div>
				</li>
				<li id="teamdiv" {if condition="$msg['user_role'] neq 2 and $msg['user_role'] neq 1 and $msg['user_role'] neq 6"}style="display:none;"{/if}>
					<div  class="li-left">所属班组：</div>
					<div class="li-right">
						<div class="imitate-select">
							<span class="select-txt"></span>
							<span class="triangle-down"></span>
							<input type="hidden" id="team">
							<ul data-sign="team">
								{volist name="team[0]" id="e"}
									<li data-value="{$e.id}" {if condition="$e['id'] eq $msg['tid']"} data-selected="true"{/if}>+ {$e.team_name}</li>
										{php} 
												if(isset($team[$e['id']])){ 
													$childs=$team[$e['id']];
													foreach($childs as $val){
										{/php}
										<li data-value="{$val.id}" {if condition="$val['id'] eq $msg['tid']"} data-selected="true"{/if}>&nbsp;&nbsp;&nbsp;- {$val.team_name}</li>
										{php} 
												}
											} 
										{/php}
								{/volist}
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div  class="li-left">登录后台：</div>
					<div class="li-right">
						<div class="imitate-select">
							<span class="select-txt">能</span>
							<span class="triangle-down"></span>
							<input type="hidden" name="nologin" id="nologin">
							<ul data-sign="nologin">
								<li data-value="0" {if condition="0 eq $msg['nologin']"}data-selected="true"{/if}>能</li>
								<li data-value="1" {if condition="1 eq $msg['nologin']"}data-selected="true"{/if}>不能</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div  class="li-left">小程序报工显示模块：</div>
					<div class="li-right select-list">
						<ul id="wx_model" class="select-item">
							<li>
								<div data-value="1" class="imitate-checkbox-small" {if condition="in_array('1',$wxmodel)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('1',$wxmodel)"}display:inline-block{/if}"></span>
								</div>
								<div>头部数据统计</div>
							</li>
							<li>
								<div data-value="2" class="imitate-checkbox-small" {if condition="in_array('2',$wxmodel)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('2',$wxmodel)"}display:inline-block{/if}"></span>
								</div>
								<div>三项数据筛选统计</div>
							</li>
							<li>
								<div data-value="3" class="imitate-checkbox-small" {if condition="in_array('3',$wxmodel)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('3',$wxmodel)"}display:inline-block{/if}"></span>
								</div>
								<div>时间段工序超时分析</div>
							</li>
							<li>
								<div data-value="4" class="imitate-checkbox-small" {if condition="in_array('4',$wxmodel)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('4',$wxmodel)"}display:inline-block{/if}"></span>
								</div>
								<div>按时完成量</div>
							</li>
							<li>
								<div data-value="5" class="imitate-checkbox-small" {if condition="in_array('5',$wxmodel)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('5',$wxmodel)"}display:inline-block{/if}"></span>
								</div>
								<div>工序异常汇总</div>
							</li>
							<li>
								<div data-value="6" class="imitate-checkbox-small" {if condition="in_array('6',$wxmodel)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('6',$wxmodel)"}display:inline-block{/if}"></span>
								</div>
								<div>工序人均产值</div>
							</li>
							<li>
								<div data-value="7" class="imitate-checkbox-small" {if condition="in_array('7',$wxmodel)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('7',$wxmodel)"}display:inline-block{/if}"></span>
								</div>
								<div>工序产能分析占比</div>
							</li>
							<li>
								<div data-value="8" class="imitate-checkbox-small" {if condition="in_array('8',$wxmodel)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('8',$wxmodel)"}display:inline-block{/if}"></span>
								</div>
								<div>生产计划达成率</div>
							</li>
							<li>
								<div data-value="9" class="imitate-checkbox-small" {if condition="in_array('9',$wxmodel)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('9',$wxmodel)"}display:inline-block{/if}"></span>
								</div>
								<div>系列颜色分析汇总</div>
							</li>
							<li>
								<div data-value="10" class="imitate-checkbox-small" {if condition="in_array('10',$wxmodel)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('10',$wxmodel)"}display:inline-block{/if}"></span>
								</div>
								<div>超期订单</div>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<div  class="li-left">小程序首页数据显示模块：</div>
					<div class="li-right select-list">
						<ul id="wx_function" class="select-item">
							<li>
								<div data-value="1" class="imitate-checkbox-small" {if condition="in_array('1',$wxfunction)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('1',$wxfunction)"}display:inline-block{/if}"></span>
								</div>
								<div>创建新的生产单</div>
							</li>
							<li>
								<div data-value="2" class="imitate-checkbox-small"  {if condition="in_array('2',$wxfunction)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('2',$wxfunction)"}display:inline-block{/if}"></span>
								</div>
								<div>我要对工序报工</div>
							</li>
							<li>
								<div data-value="3" class="imitate-checkbox-small"  {if condition="in_array('3',$wxfunction)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('3',$wxfunction)"}display:inline-block{/if}"></span>
								</div>
								<div>批次排产报工</div>
							</li>
							<li>
								<div data-value="4" class="imitate-checkbox-small"  {if condition="in_array('4',$wxfunction)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('4',$wxfunction)"}display:inline-block{/if}"></span>
								</div>
								<div>我要对工序报异常</div>
							</li>
							<li>
								<div data-value="5" class="imitate-checkbox-small"  {if condition="in_array('5',$wxfunction)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('5',$wxfunction)"}display:inline-block{/if}"></span>
								</div>
								<div>工序拍照</div>
							</li>
							<li>
								<div data-value="6" class="imitate-checkbox-small"  {if condition="in_array('6',$wxfunction)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('6',$wxfunction)"}display:inline-block{/if}"></span>
								</div>
								<div>半成品标签</div>
							</li>
							<li>
								<div data-value="7" class="imitate-checkbox-small"  {if condition="in_array('7',$wxfunction)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('7',$wxfunction)"}display:inline-block{/if}"></span>
								</div>
								<div>打包入库</div>
							</li>
							<li>
								<div data-value="8" class="imitate-checkbox-small"  {if condition="in_array('8',$wxfunction)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('8',$wxfunction)"}display:inline-block{/if}"></span>
								</div>
								<div>扫码出库</div>
							</li>
							<li>
								<div data-value="9" class="imitate-checkbox-small"  {if condition="in_array('9',$wxfunction)"}data-sign="true"{/if}>
									<span style="{if condition="in_array('9',$wxfunction)"}display:inline-block{/if}"></span>
								</div>
								<div>切割方案</div>
							</li>
						</ul>
					</div>
				</li>
			</ul>
			<div class="edit-hint" style="color: #dfff00">注：如果只修改权限时，不用填写“密码”项！</div>
		</form>
		<div class="modal-body-bottom">
			<div class="btne">确认添加</div>
		</div>
	</div>
	<script type="text/javascript">
		// 设置父元素文本内容
		$('#usernameTxt', window.parent.document).html('当前修改的用户名：{$msg.uname}');
		$(document).ready(function(){
			$('#form').find('.imitate-select').each(function(){
				var _this = $(this);
				var _val = _this.children('ul').children('li[data-selected=true]').attr('data-value')
				var _html = _this.children('ul').children('li[data-selected=true]').html();
				_this.children('input[type=hidden]').val(_val).attr('data-value',_val);
				_this.children('.select-txt').attr('data-value',_val).html(_html);
			});
			// 下拉列表
			$('.imitate-select').click(function(e) {
				e.preventDefault();
				e.stopPropagation();
				var _this = $(this);
				var clickSign = _this.attr('data-sign');
				$('.imitate-select').removeAttr('data-sign').children('ul').hide();
				if (clickSign == 'true') {
					_this.children('ul').hide();
					_this.removeAttr('data-sign');
				} else {
					_this.children('ul').show();
					_this.attr('data-sign', 'true');
				}
			});
			$(window).click(function(){
				var elem = event.srcElement ? event.srcElement : event.target;
				while (elem) {
					if (elem.id && elem.id == 'orderScreenBox') {
						return;
					}
					elem = elem.parentNode;
				}
				$('.imitate-select').removeAttr('data-sign').children('ul').hide();
			})
			$('.imitate-select ul').delegate('li','click',function(e){
				e.preventDefault();
				e.stopPropagation();
				var _this = $(this);
				var tempTxt = _this.html();
				var _thisValue = _this.attr('data-value');
				_this.parent().parent().children('.select-txt').attr('data-value',_thisValue).html(tempTxt);
				_this.parent().hide();
				_this.parent().parent().removeAttr('data-sign');
				var _clickTarget = _this.parent().attr('data-sign');
				_this.parent().siblings('input[type=hidden]').val(_thisValue);
				switch (_clickTarget) {
					case 'user_role':
						changerole();
						break;
					default:
						break;
				}
			});
		})
		$(function(){
			$('#bind_custom').click(function(){
				var id = "{$msg.id}";
				layer.open({
					type: 2,
					title: '绑定客户',
					shadeClose: true,
					shade: 0.8,
					area: ['580px', '100%'],
					content: "bind_custom?id="+id+"" //iframe的url
				})
			});
			$('#read_custom').click(function(){
				var id = "{$msg.id}";
				layer.open({
					type: 2,
					title: '查看绑定客户',
					shadeClose: true,
					shade: 0.8,
					area: ['580px', '100%'],
					content: "read_import_custom?id="+id+"" //iframe的url
				})
			});
			$('#bind_series').click(function(){
				var id = "{$msg.id}";
				layer.open({
					type: 2,
					title: '绑定系列',
					shadeClose: true,
					shade: 0.8,
					area: ['580px', '100%'],
					content: "bind_series?id="+id+"" //iframe的url
				})
			});
		});
		$('#uploadFile').click(function(){
			$(this).siblings('input[type=file]').click();
		})
		function changerole(){
			var _val=$("#user_role").val();
			console.log(_val);
			if(_val==2||_val==1||_val==6){
				$("#teamdiv").show();            
			}else{
				$("#teamdiv").hide();                  
			}
			if(_val==4){
				$("#client_namediv").show();
			}else{
				$("#client_namediv").hide();
			}
            if(_val==5 || _val==3){
				$("#bind").css('display','flex');
			}else{
                $("#bind").hide();
			}
		}
		// 确认修改
		$('.btne').click(function(){
			var id = "{$msg.id}";
			var pwd = $('#pwd').val();
			var repwd = $('#repwd').val();
			var client_name=$("#client_name").val();
			var user_role = $('#user_role').val();
			var role_id = $('#role').val();
			var tid = $('#team').val();
			var nologin = $('#nologin').val();
			var wx_model = [];
			var wx_function = [];
			$('#wx_model li .imitate-checkbox-small[data-sign=true]').each(function(i){
				wx_model[i]=$(this).attr('data-value');
			})
			$('#wx_function li .imitate-checkbox-small[data-sign=true]').each(function(i){
				wx_function[i]=$(this).attr('data-value');
			})
			var str_wx_model = wx_model.join(',');
			var str_wx_function = wx_function.join(',');
			if(pwd !== repwd){
				layer.msg('密码不一致！请检查')
				return false;
			}
			$.ajax({
				url: "{:Url('Setting/inuser')}",
				data: {"id":id,"role_id":role_id,"pwd":pwd,"tid":tid,"nologin":nologin,'user_role':user_role,"client_name":client_name,"wxmodel":str_wx_model,"wxfunction":str_wx_function},
				dataType: 'json',
				success:function(obj){
					if(obj.status==1){
						layer.msg('修改成功');
						var index = parent.layer.getFrameIndex(window.name);
						setTimeout(function(){
							layer.close(index);
							window.parent.location.reload();
						},2000)
						
					}
					
				}
				
			},'json')
		})
		// 多选框
		$('.imitate-checkbox-small').click(function(e) {
			e.preventDefault();
			e.stopPropagation();
			let _this = $(this);
			let clickSign = _this.attr('data-sign');
			if (clickSign == 'true') {
				_this.removeAttr('data-sign');
				_this.children('span').hide();
			} else {
				_this.children('span').show();
				_this.attr('data-sign', 'true');
			}
		});
	</script>
</body>
</html>