<?php $current='6'; ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>微元生产工序报工管理系统,建材行业生产管理系统,门窗生产管理系统,微元科技,佛山市微元科技有限公司</title>
{include file="public/header" /}

</head>
<body>
	<div class="baogong_parameterSetting popup-box">
		<div class="popup-header">
			<div>参数设置</div>
		</div>
		<div class="popup-body">
            {include file="setting/menu" /}
            
			<div class="body-center">
				<div class="body-content-box body-nav-active">
                    <div class="content-header">
                        <div class="content-header-left">
                            <span class="header-left-item" id="importCutPlanBtn">
                                <img src="__STATIC__/theme/index/img/icon_export.png">
                                <span>导入切割方案</span>
                            </span>
                        </div>
                    </div>
					<div class="content-center">
						<div class="content-center-inner">
							<table class="layui-table" border="1" cellpadding="0" cellspacing="0">
								<thead>
									<tr class="title">
                                        <th>批次</th>
                                        <th>导入时间</th>
                                        <th width="150">操作</th>
                                    </tr>
								</thead>
								<tbody>
									{volist name="list" id="v"}
                                        <tr>
                                            <td>{$v.batch}</td>
            								<td>{$v.addtime|date='Y-m-d'}</td>
                                            <td class="operate-box">
                                                <div class="operate-btn">
                                                    <a class="btn-normal detail" data="{$v.batch}" href="javascript:void(0)">查看详细</a>
                                                    /<a class="btn-normal del" data="{$v.batch}" href="javascript:void(0)">删除</a>
                                                </div>
                                            </td>
                                        </tr>
                                    {/volist}
								</tbody>
							</table>
							{$list->render()}
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <!-- 导入切割方案 -->
	<div class="modal-box" id="importCutPlanModal">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-header-left">
					<div class="modal-header-title">
						<img src="__STATIC__/theme/index/img/icon_batch.png">
						<span>导入切割方案</span>
					</div>
				</div>
				<div class="modal-header-right">
					<span class="close-modal-btn"></span>
				</div>
			</div>
			<div class="modal-body">
				<div class="iframe-box">
					<iframe class="myIframe" id="myIframe_importCutPlan" frameborder="0"></iframe>
				</div>
			</div>
		</div>
	</div>
	<!-- 切割方案详情 -->
	<div class="modal-box" id="cutPlanDetailModal">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-header-left">
					<div class="modal-header-title" style="padding-left: 20px;">
						<span class="title-txt">切割方案</span>
					</div>
				</div>
				<div class="modal-header-right">
					<span class="close-modal-btn"></span>
				</div>
			</div>
			<div class="modal-body">
				<div class="iframe-box">
					<iframe class="myIframe" id="myIframe_cutPlanDetail" frameborder="0"></iframe>
				</div>
			</div>
		</div>
    </div>
    {include file="setting/timeset" /}
</body>
<script type="text/javascript">
    // 添加规则
    $('#importCutPlanBtn').click(function(e){
        e.preventDefault();
        e.stopPropagation();
        $('.title-txt').html('添加打印机');
        $('#importCutPlanModal').fadeIn();
        $('#myIframe_importCutPlan').attr('src','import_cut');
    });
    // 查看详情
    $('.detail').on('click', function(e){
        var id = $(this).attr('data');
        e.preventDefault();
        e.stopPropagation();
        $('#cutPlanDetailModal').fadeIn();
        $('#myIframe_cutPlanDetail').attr('src','read_import?id='+id);
    });

	//删除
	$('.del').click(function(){
		var id = $(this).attr('data');
		layer.confirm('是否删除',{icon:3,title:'提示'},function(index){
			$.ajax({
				url: "{:Url('Setting/del_import')}",
				data: {id:id},
									type:'post',
				dataType:"json",
				success:function(obj){
					if(obj.code==0){
						layer.msg('删除成功');	
					}else{
						layer.msg('删除失败');	
					}
					setTimeout(function(){
						window.location.reload();	
					},1500);
				}
			})
			layer.close(index);
		})
	});
	$('.close-modal-btn').click(function(e){
		e.preventDefault();
		e.stopPropagation();
		$('.modal-box').fadeOut();
	})
	$(window).click(function(){
		var elem = event.srcElement ? event.srcElement : event.target;
		while (elem) { //循环判断至跟节点，防止点击的是div子元素 
			if (elem.id && elem.id == 'orderScreenBox') {
				return;
			}
			if($(elem).hasClass('modal-content')){
				return;
			}
			elem = elem.parentNode;
		}
		$('.modal-box').fadeOut();
	})
</script>
</html>
